body {
    background-color: rgb(224, 230, 233);
  }

#nametag{
  text-align: center;
 font-family: serif;
  color: rgb(240, 149, 31);
  margin-top: 0%
  ;
}
 
a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-family: monospace;
  font-size: 15px;
  font-style: initial
} 

a:hover {
  text-decoration: underline;
}

  .centertag {
    text-align: center;
    margin-top: 10px; 
    background-color: burlywood; 
    padding: 8px; 
  }